@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
:root{
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-blue);
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}
.app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 500px;
  min-height: 300px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  color: var(--neon-green);
  font-size: 1.2rem;
  text-transform: uppercase;
}
.advice_number {
  margin-left: 10px;
}
.content {
  width: 100%;
  min-width: 250px;
  margin-top: 2rem;
}
.advice_text {
  color: var(--light-cyan);
  font-size: 1.4rem;
  text-align: center;
  height: auto;
  min-height: 100px;
}
.divider {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.divider span {
  height: 15px;
  width: 5px;
  margin: 0 3px;
  color: #fff;
  background-color: var(--light-cyan);
  border-radius: 3px;
}
.divider::before {
  content: '';
  width: 45%;
  height: 1px;
  background-color: var(--light-cyan);
  position: absolute;
  left: 0;
  margin-right: 10px;
  opacity: 0.3;
}
.divider::after {
  content: '';
  width: 45%;
  height: 1px;
  background-color: var(--light-cyan);
  position: absolute;
  right: 0;
  opacity: 0.3;
}
.button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);
  background-color: var(--neon-green);
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  box-shadow: 0px 0px 10px 5px hsla(150, 100%, 66%, 0.705);
  transition: all 0.2s ease;
}

@media (max-width: 525px) {
  .app {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    font-size: 0.8rem;
  }
  .advice_text {
    padding: 0;
    font-size: 1.2rem;
  }
}